<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Survey Form</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
    <body>
    <div id="wrapper">
      <form action="/process" method="post">
      {% csrf_token %}
         {% if messages %}
           {% for message in messages %}
             <p>{{message}}</p>
           {% endfor %}
         {% endif %}
        <fieldset>
        Your Name: <input type="text" name="name">
        </fieldset>
        <fieldset>
        Dojo Location:  <select name="location">
          <option>Seattle</option>
          <option>Los Angeles</option>
          <option>San Jose</option>
          <option>Washington DC</option>
          <option>Dallas</option>
          <option>Chicago</option>
          <option>Tulsa</option></select>
        </fieldset>
        <fieldset>
        Favorite Language: <select name="language">
          <option>Python</option>
          <option>Ruby</option>
          <option>C#</option>
          <option>Java</option>
          <option>Javascript</option>
          <option>Other</option></select>
        </fieldset>
        <fieldset>
        Comment (optional):<p></p>
        <textarea name="comment" value = "textbox" rows="4" cols="50"></textarea>
        <input type="submit" value="Submit">
      </fieldset>
      </form>
    </div>
  </body>
</html>